a:hover {
    text-decoration-line: unset;
}
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
#checkout_btn{
    color: white;
}
#continue_shopping_btn i{
    color:white;
    margin-right: 15px;
    font-size: 20px;
}
#checkout_btn i{
    color:white;
    margin-left: 15px;
    font-size: 20px;
}
.help-block{
    color: red;
}
.card-body h3{
    font-family: inherit;
}
.card-body h4{
    color: #e56284;
    font-size: 16px;
    font-weight: 600;
}
.more_btn{
    background-color: #111111;
    border-radius: 25px;
    padding: 5px 12px;
    color: white;
}
.more_btn:hover{
   color: white;
}
#add_to_cart{
    background-color: #ff5337;
    border-radius: 25px;
    padding: 5px 12px;
    color: white;
}
.rating{
    width: 150px;
}
label { margin: 0; padding: 0; }
.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    cursor: pointer;
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating_star_checked{ color: #FFED85 !important;  }
.rating_star_checked:hover{ color: #FFD700 !important; }
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: 100%;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}
.item-gallery{
    float: left;
}
.card_row,.img-small-wrap{
    margin-right: 0!important;
    margin-left: 0 !important;
}
.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}
.image-source-link {
    color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
.view_cart_btn{
    width: 100%;
    background-color: #86af49;
    color: #EEEEEE;
    border-radius: 25px;
    box-shadow: none;
}
.view_cart_btn:hover{
    background-color: #83b14f;
    color: #EEEEEE;
}
.currency,.num{
    color: #ff844a;
    font-weight: bold;
}