.img_box .upload_img{
    float: left;
}
.remove_item_img,.remove_main_img{
    position: absolute;
    left: 62%;
    top: -18px;
    color: red;
}
.my_dropzone {
    border:2px dashed #999999;
    border-radius: 10px;
}
.my_dropzone .dz-default.dz-message {
    height: 171px;
    background-size: 132px 132px;
    margin-top: -101.5px;
    background-position-x:center;

}
.my_dropzone .dz-default.dz-message span {
    display: block;
    margin-top: 145px;
    font-size: 20px;
    text-align: center;
}